1.You must use either the do-while statement or the while statement as an outer game loop.

2.The hero and the monster start with 10 health points.

3.All attacks are a value between 1 and 10.

4.The hero attacks first.

5.Print the amount of health the monster lost and their remaining health.

6.If the monster's health is greater than 0, it can attack the hero.

7.Print the amount of health the hero lost and their remaining health.

8.Continue this sequence of attacking until either the monster's health or hero's health is zero or less.

9.Print the winner.